<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714944754584-j00bu5gnjg05l437avesu4uncj2po6u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714944754584-j00bu5gnjg05l437avesu4uncj2po6u2</string>
	<key>API_KEY</key>
	<string>AIzaSyDEW2giiBRiMUl5BXP1XuerKq664p0zcTk</string>
	<key>GCM_SENDER_ID</key>
	<string>714944754584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BouncrProtection.Bouncr</string>
	<key>PROJECT_ID</key>
	<string>bouncr-c5826</string>
	<key>STORAGE_BUCKET</key>
	<string>bouncr-c5826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714944754584:ios:18facea913576914adf1ed</string>
</dict>
</plist>